.login-card {
    min-height: 60vh;
}

.registerMessage {
    margin-top: 5vh;
}

.App {
    text-align: center;
  }
  
  .hv-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: cadetblue; */
    }